<!-- <div class="card mb-2">
    <div class="card-header">
        <h4>Customer List</h4>
    </div>
</div> -->
<div class="input-group mb-3 mt-2">
    <div class="input-group-prepend">
        <button  [routerLink]="['addhouse']" class="btn btn-primary"  id="button-addon1"><i class="fa fa-plus-circle"></i></button>
        <button (click)="searchHomes()" class="btn btn-primary"  id="button-addon1"><i class="fa fa-search"></i></button>
    </div>
    <input type="text" [(ngModel)]="customerParams.search" class="form-control" placeholder="name or company">
</div>
<div class="table-responsive g-mb-40">
    <table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                 Name
            </th>

            <th class="d-none d-sm-table-cell">
                company
            </th>
            <th class="d-none d-sm-table-cell">
                address
            </th>

            <th class="d-none d-sm-table-cell">
                gender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cust of customers">
            <td>
                <img src="{{cust.photoUrl}}" class="rounded-circle" style="height: 35px;"/>
            </td>
            <td>
                {{cust.customerName}}
            </td>

            <td class="d-none d-sm-table-cell">
                {{cust.companyName}}
            </td>

            <td class="d-none d-sm-table-cell">
                {{cust.address1}}
            </td>
            <td class="d-none d-sm-table-cell">
                {{cust.gender}}
            </td>
            <td style="text-align: right">
                <a title="Edit"  [routerLink]="['edithouse', cust.id]"><i class="fa fa-edit"></i></a> |
                <a title="Print" [routerLink]="['printdetails', cust.id]"><i class="fa fa-print"></i></a> |
                <a title="Delete" [routerLink]="['deletehouse', cust.id]" ><i class="fa fa-trash"></i></a>
            </td>

        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center" *ngIf="pagination">
      <pagination
          [boundaryLinks]="true"
          [totalItems]="pagination.totalItems"
          [itemsPerPage]="pagination.itemsPerPage"
          [(ngModel)]="pagination.currentPage"
          (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;">
  </pagination>
</div>
