<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="navbar-brand" routerLink="/">
          <img src="https://cdn-assets-logezy.s3-eu-west-1.amazonaws.com/optimum_care_4_u/1588152894file.png"
            width="180px">
        </a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Style</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center" *ngIf="!(currentUser$ | async)">

        <!-- <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"
            focusable="false">
            <title>Search</title>
            <circle cx="10.5" cy="10.5" r="7.5"></circle>
            <path d="M21 21l-5.2-5.2"></path>
          </svg>
        </a> -->
        <a class="btn btn-sm btn-outline-secondary mr-1" routerLink="/account">Sign in</a>
        <a class="btn btn-sm btn-outline-secondary" routerLink="/account/signup">Sign up</a>
      </div>
      <div  class="col-4 d-flex justify-content-end align-items-center dropdown"  *ngIf="currentUser$ | async as user" dropdown>
        <img alt="image" class="rounded-circle dropdown-toggle" style="width: 60px; height: 60px;"
        src="{{user.avatar}}" dropdownToggle />
        <!-- <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.displayName || user.displayName | titlecase}}</a> -->
        <div class="dropdown-menu mt-3 dropdown-menu-right" *dropdownMenu>
            <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a style="cursor: pointer;" class="dropdown-item" (click)="logout()" >Logout</a>
        </div>
      </div>
    </div>
  </header>
  <nav class="nav d-flex justify-content-between" style="border-bottom: 1px solid #e5e5e5;">
    <a routerLink="/" class="nav-link p-2 text-muted" routerLinkActive="active">Home</a>
    <ng-container *ngIf="currentUser$ | async">
      <a routerLink="/customers" class="nav-link text-muted" routerLinkActive="active">Customers</a>
      <a routerLink="/invoices" class="nav-link text-muted" routerLinkActive="active">Invoice</a>
      <a routerLink="/errors" class="nav-link text-muted" routerLinkActive="active">Test Error</a>
    </ng-container>

  </nav>
</div>




<!-- <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <ul class="navbar-nav">
        <li class="nav-item text-nowrap">
          <a class="navbar-brand" routerLink="/">
            <img src="https://cdn-assets-logezy.s3-eu-west-1.amazonaws.com/optimum_care_4_u/1588152894file.png" width="180px">
          </a>
        </li>
      </ul>
      <div class="container mainmenu d-flex justify-content-between">
            <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar()" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div [ngClass]="{ 'show': navbarOpen }" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">

                    <li routerLinkActive="active" class="nav-item">
                        <a routerLink="/" class="nav-link text-dark" routerLinkActive="active" (click)="toggleNavbar()">Home</a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a routerLink="/profile" class="nav-link text-dark" routerLinkActive="active" (click)="toggleNavbar()">Customers</a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a routerLink="/availability" class="nav-link text-dark" routerLinkActive="active" (click)="toggleNavbar()">invoices</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
              <a routerLink="/account" class="nav-link text-dark" routerLinkActive="active" (click)="toggleNavbar()">Login</a>
          </li>
      </ul>
    </nav>
</header> -->
